@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black;
}

@font-face {
  font-family: "square";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(/font/Square.woff) format("truetype");
}

@font-face {
  font-family: "comicy";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(/font/Comicy.woff) format("truetype");
}
